* {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header {
	width: 100%;
	height: 500px;
	background: url(../img/head.jpg) no-repeat;
	background-size: 100%;
	min-width: 1905px;
	position: relative;
}
.center{
	width: 1500px;
	margin: auto;
}
.nav {
	height: 150px;
	position: absolute;
	left: 0px;
	top: 50px;
	position: relative;
}

.nav img{
	float: left;
	margin: -5px 20px 0 0;
}

.nav ul li {
	float: left;
	position: relative;
	padding: 10px;
	cursor: pointer;
}

.nav ul {
	float: left;
}

.nav li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
}
.nav li:before {
	content: "";
	position: absolute;
	top: 0;
	left: 100%;
	width: 0;
	height: 100%;
	border-bottom: 2px solid rgb( 15, 163, 232);
	transition: 0.2s all linear;
}

.nav li:hover:before {
	width: 100%;
	top: 0;
	left: 0;
	transition-delay: 0.1s;
	border-bottom-color: rgb( 15, 163, 232);
}


/*比较重要*/

.nav li:hover~li:before {
	left: 0;
}
.select{
	border-bottom: 2px solid rgb(15, 163, 232);
	
}
.select  a{
	color:rgb(15, 163, 232)!important ;
}
#login{
	float: right;
}
#register{
	float: right;
	margin-right: 50px;
}
#return{
	float: right;
	margin-left:-35px;
}
.nav span a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 14px;
	display: inline-block;
	border: 1px solid darkgray;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px;
	margin-right: 10px;
	
	
}
.nav span a:hover{
	background: rgba(15,163,232,0.5);
	color: #FFFFFF;
}
.search{
	width: 700px;
	height: 35px;
	margin: auto;
	position: relative;
}
.search-box form{
	height: 60px;
}
.search-text{
	text-align: center;
	height: 80px;
	font-size:32px;
	color: #FFFFFF;
	
	
}
input::-webkit-input-placeholder{
	color: #FFFFFF;
	font-size: 14px;
}
#text{
	
	width: 500px;
	height: 50px;
	background: rgba(255,255,255,0.1);
	outline: none;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	padding-left: 20px;
	font-size: 22px;
	color: #FFFFFF;
	position: absolute;
	left: 100px;
	
	
}
#btn{
	width: 50px;
	height: 50px;
	outline: none;
	border: none;
	background: none;
	position: absolute;
	left: 545px;
}
.search-box{
	width: 100%;
	height: 100px;
	position: relative;
}
.search-box p{
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	position: absolute;
	left: 200px;
	top:55px;
}
.icon-search{
	font-size: 26px;
	color: #FFFFFF;
}



/*瀑布流部分*/
.main{
	width: 100%;
	height: 100%;
	min-width: 1905px;
	
}
.main-center{
	width: 1320px;
	height: 100%;
	margin: auto;
	position: relative;
}
.box{
	width: 580px;
	height: 200px;
	float: left;
	margin: 30px 70px 0 10px;
	padding: 30px;
	border: 1px solid rgba(245,245,245,0.8);
	border-radius: 10px;
	cursor: pointer;
}


.box:hover{
	box-shadow: 5px 5px 10px #d7d7d7,-5px -5px 15px rgba(215,215,215,0.5);

}
.box a:hover{
	text-decoration: none;
}
.topicFrom{
	width: 550px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #808080;
	margin: auto;
}
.topicFrom span{
	margin-right: 30px;
}
.viewCount{
	float: right;
}
.name{
	width:550px;
	margin: auto;
	height: 50px;
	
}
.myPic{
	float: left;
	margin-right: 10px;
}
.myPic img{
	width: 50px;
	height: 50px;
}
.username{
	width: 400px;
	height: 50px;
	line-height: 50px;
	float: left;
	font-size: 14px;
}
.context{
	width: 550px;
	height: 80px;
	margin: auto;

}

.title{
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 22px;
	text-align: left;
	color: cornflowerblue;
}
.content{
	width: 550px;
	height: 50px;
	font-size: 12px;
}
