.enroll{
	width: 900px;
	height: 500px;
	background-color:#fdebeb ;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -450px;
	margin-top: -250px;
	border-radius: 15px;
}
.nav{
	position: relative;
	width: 700px;
	height: 50px;
	margin: auto;
	font-size: 18px;
	border-bottom: 1px solid lightgray;
	line-height: 50px;
	padding: 0px;
	border-radius: 5px;
}
.nav-enroll{
	float: left;
	padding-left: 10px;
}

.content{
	width: 320px;
	height: 420px;
	margin: auto;
	background: #ffffff;
	
}

form{
	border: 1px solid#ffffff;
	margin-top: 10px;
	height: 417px;
	
}
.content div{
	width: 250px;
	height: 35px;
	line-height: 35px;
	border: 1px solid gray;
    margin:10px 30px 10px 30px;
    padding-left: 5px;
    border-radius: 5px ;
    box-shadow: 1px 1px 1px ;
}

.username {
	width: 150px;
	height: 24px;
	border: 0;
	outline: none;
}

 p{
	height:10px;
	padding: 0;
	margin: 0;
	color: red;
	font-size: 16px;
	text-align: right;
	margin-left: 20px   ;
	
}
.content div span{
	font-size: 14px;
	
}
.password{
	width: 180px;
	height: 24px;
	border: 0;
	outline: none;
}
.certain-password{
	width: 150px;
	height: 24px;
	border: 0;
	outline: none;
}
.number{
	width: 150px;
	height: 24px;
	border: 0;
	outline: none;
}
.identifyCode{
	width: 150px;
	height: 24px;
	border: 0;
	outline: none;
	
}
.content-enroll{
	width: 250px ;
	height: 40px;
	background: none;
	border: none;
	background: red;
	margin-top:20px;
	margin-left: 30px;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 14px;
	box-shadow: 1px 1px 1px#000000 ;
}
.content input{
	font-size: 8px;
	color: darkgray;
	text-align: center;
}
.identify-number{
	width: 50px;
	height: 30px;
	position: absolute;
	bottom:87px;
	left:458px;
	background: darkgray;
}

