#sign{
	position: absolute;
	width:900px;
	height:500px;
	background:#fdebeb;
	left:50%;
	top:50%;
	margin-left:-450px;
	margin-top:-250px;
	/*border:solid 1px #aaaaaa;*/
}
#loginWrap{
	width:300px;
	height:320px;
	background:white;
	border:solid 1px #aaaaaa;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-150px;
	margin-top:-160px;
}
#sign h1{
	font-size:18px;
	margin-left:10px;
	margin-top:15px;
	display:inline-block;
}
#tosignup a{
	text-decoration: none;
}
#tosignup{
	display:inline-block;
    margin-left:80px;	
    font-size:10px;
}
#login-form{
	width:295px;
    height:240px;
    /*border:solid 1px black;*/
}
.form-group,.form-groupTwo{
	display: inline-block;
	position: absolute;
	width:275px;
	height:55px;
	/*border:solid 1px black;*/
	margin-left:8px;
	margin-top:20px;
}
.form-group--user,.form-groupTwo--secret{
	border:solid 1px black;
	width:275px;
	height:30px;
}
form img{
	margin-top:8px;
	margin-left: 10px;
}
form input{
	outline:none;
	position: absolute;
	display:inline-block;
	top:5px;
	margin-left:10px;
	width:200px;
	height:23px;
	border:none;
}

#form-group--warn{
	width:200px;
	height:25px;
	/*border:solid 1px red;*/
	position: absolute;
	display:none;
}
#form-group--warn img{
	position: absolute;
	top:-3px;
	left:1px;
}
.msg{
	display: inline-block;
	position: absolute;
	top:-8px;
	left:5px;
	font-size: 8px;
	color:#AAAAAA;
	margin-left:34px;
}
.form-groupTwo{
	margin-top:80px;
	
}
#follow input{
	top:5px;
}
#form-groupTwo--warn{
	width:200px;
	height:25px;
	/*border:solid 1px red;*/
	position: absolute;
	top:28px;
	margin-left:1px;
	display:none;
}
/*登录内容*/
#btn{
    display:inline-block;
	margin-left:10px;
	width:275px;
	height:30px;
	margin-top:180px;
	border:solid 1px black;
	border-radius:45deg;
	font-size:15px;
	background: red;
	outline: none;
	}
#sp{
	color:red;
	width:150px;
	height:20px;
	position: absolute;
	top:200px;
	left:10px;
}