body{
	padding: 0;
	margin: 0;
	
}

#banner{
	width:462px;
	height:311px;
	/*border:solid 2px red;*/
	border-radius:10px;
	overflow: hidden;
	position: relative;
}
#list{
	width:2772px;
	height:311px;
	position: absolute;
	z-index:1;
}
#list img{
	float:left;
}

#goOne .goOne-center .arrow{
	cursor: pointer;
	line-height: 39px;
	text-align: center;
	font-size:22px;
	font-weight: bold;
	width:40px;
	height:40px;
	position: absolute;
	z-index: 2;
	top:80px;
	/*display: none;*/
	text-decoration: none;
}
.arrow:hover{text-decoration: none;}
#goOne .goOne-center  #prev{
	color:#FFFFFF;
	left:1010px;
	top:150px;
}
#goOne .goOne-center #next{
	color:#04c2ef;
	top:150px;
	right:360px;
}
