*{
	/*overflow-x:hidden;*/
	margin:0px;
	padding:0px;
}
body{
	background-color:rgb(249,249,249);
}
a{
	text-decoration: none;
}
#newMain{
	min-width:1200px;
	position:relative;
}

.mainTop{
	width:100%;
	height:93px;
	background:#010101;
	font-size:20px;
	color:#05c1f1;
	position:fixed;
	z-index:10;
	opacity:0.8;
	min-width:1070px;
}
.mainTop span a{

	font-size:20px;
	float:left;
	color:#05c1f1;
	margin-left:180px;
	margin-top:25px;
	text-decoration:none;
}
 .mainTop ol{
	float:left;
	margin-left:80px;
	margin-top:20px;
	display: inline-block;
}
 .mainTop img{
     margin-left:70px;

}
 .mainTop ul{
	margin-left:30px;
	 position: relative;
	 top:-20px;
	display: inline-block;
}
 .mainTop ol li{
	margin-left:30px;
}
.mainTop ul li{
	margin-left:30px;
}
.nav-li a{
	color:white;
}
.nav-li a:hover{
	color:#05c1f1;
}
/*center*/
.newCenter{
	min-width:1170px;
    width:100%;
	height:580px;
	display: inline-block;
    background:url("../img/main1.png") no-repeat;
	background-size:100%;
	margin-top:0px;
}
/*.newCenter img{*/
	/*width:100%;*/
	/*height:700px;*/
	/*min-width:1905px;*/
	/*position:absolute;*/
/*}*/
#newMainButtom{
	background-color:rgb(249,249,249);
}
#newMainButtom #go1,#go2,#go3,#go4{
	position: absolute;
	width:100%;
	height:750px;
	min-width:1170px;
	/*border:solid 1px red;*/
	font-size:30px;
	position:relative;
}
#go2,#go3,#go4{

}
#goOne span{
	font-size:65px;
	font-weight:500;
	position: absolute;
	top:60px;
	z-index:2;
	margin-left:650px;
	color:#e7e7e7;
}
#goOne  .goOne-find{
	font-size:30px;
	position: absolute;
	z-index:3;
	margin-top:61px;
	margin-left:725px;
	display:inline-block;

}
#goOne .goOne-p{
	position: absolute;
	font-size:23px;
	z-index:2;
	top:110px;
	margin-left:690px;
}
#goOne a {
	color:black;
}
#goOne .goOne-center{
	width:100%;
	margin-top:195px;
	position: absolute;
	height:400px;
}
#goOne .goOne-center div{
	display: inline-block;
}
#goOne .goOne-center .goOne-center--left{
	display:inline-block;
	width:600px;
	margin-left:100px;
	float:left;
	height:400px;
}
#goOne .goOne-center .goOne-center--right{
	width:462px;
	height:311px;
	float:right;
	margin-right:120px;
	overflow: hidden;
	box-shadow:-30px 0 20px #d7d7d7,0 0 0,0 0 0,30px 0 20px #D7D7D7;
}
#goOne h2{
	margin-top:50px;
}
#goOne .goOne-center--left-p{
	font-size:18px;
}
#goOne .goOne-buttom{
	width:90px;
	height:30px;
	background:#05c1f1;
	position: absolute;
	left:905px;
	top:630px;
	border-radius:15px;

}
#goOne .goOne-buttom a{
	text-decoration: none;
	color:white;
	font-size:15px;
	position: absolute;
	top:5px;
	left:22px;
}
/*新闻中心*/
#go1,#go2,#go4{
	background-color:rgb(249,249,249);
}
#go2 .goTwo-center{
	width:100%;
	margin-top:155px;
	position: absolute;
	/*border:solid 1px green;*/
	height:500px;
}
#go2 .goTwo-center div{
	display: inline-block;

}
#go2 .goTwo-center .goTwo-leftTop{
	width:600px;
   height:200px;
float:left;
	margin-left:100px;

	/*border:solid 1px orchid;*/



}
#go2 .goTwo-center .goTwo-rightTop,#go2 .goTwo-center .goTwo-rightButtom{
	width:600px;
	height:200px;
	float:right;
	margin-right:100px;
}
#go2 .goTwo-center .goTwo-leftButtom,#go2 .goTwo-center .goTwo-rightButtom{
	margin-top:20px;
	width:600px;
	height:200px;
	margin-left:100px;
}
#go2 .goTwo-center .goTwo-rightButtom{
	margin-right:100px;
}
/*分享经验*/
#go3{
	position: relative;
	width:100%;
}
#go3 #goThreeImg{
	position:absolute;
	width:100%;
	height:750px;
	min-width:1200px;
}
#go3 #goOne span{
	z-index:1;
	color:#27708c;
	/*color:white;*/
}
#go3 #goOne .goOne-find{
	z-index:5;
	position:absolute;
	top:1px;
	color:#f9f6f7;
}
#go3 #goOne .goOne-p{
	color:#f9f6f7;
}
#go3 .goThree-Center{
	width:1200px;
	margin-right:380px;
	margin-top:155px;
	position: absolute;
	/*border:solid 1px green;*/
	height:590px;
	margin-left:300px;

}
/*//动画图片*/
#go3 .goThree-Center .goThree-leftTop,#go3 .goThree-Center .goThree-rightTop,#go3 .goThree-Center .goThree-leftCenter
,#go3 .goThree-Center .goThree-leftButtom,#go3 .goThree-Center .goThree-rightButtom{
	width:250px;
	height:180px;
	/*border:solid 3px black;*/
	/*position: absolute;*/
	display:inline-block;
}

#go3 .goThree-Center .goThree-rightTop{
	float:left;
   margin-left:-250px;
	margin-top: 300px;
	display:inline-block;
	position: relative;

}

#go3 .goThree-Center .goThree-leftTop{
	float:left;
	position: relative;
}
#go3 .goThree-Center .goThree-leftCenter{
	width:400px;
	height:180px;
	margin-right:2px;
	margin-top:180px;
	margin-left:30px;
	position: relative;
	/*border:solid 3px black;*/
}
#go3 .goThree-Center .goThree-leftButtom{
	float:right;
	margin-right: 200px;
	position: relative;
	margin-top: 50px;
}
#go3 .goThree-Center .goThree-rightButtom{
	margin-right: 200px;
	float: right;
	position: relative;
	margin-top: -90px;
}

#oldSay{
	width:320px;
	height:200px;
	font-size:23px;
	color:white;
	/*border:solid 3px black;*/
	position: absolute;
	z-index:4;
	top:40px;
	left:300px;
}
#oldSay .oldSayTwo{
	font-size:16px;
	color:#C0C0C0;
}
#go3 .goOne-buttom{
	position: absolute;
	top:290px;
	z-index:40;
	margin-left:20px;
	background:#a4ddf9;


}
#go3 .goOne-buttom a{
	color:#5c5c5c;
}
#go4 .goFour-Center{
	width:100%;
	margin-top:195px;
	position: absolute;
	/*border:solid 1px green;*/
	height:400px;
}
#go4 .goFour-Center .goFour-CenterLeft,#go4 .goFour-Center .goFour-CenterLc,#go4 .goFour-Center .goFour-CenterRc,#go4 .goFour-Center .goFour-CenterRight{
	width:210px;
	height:350px;
	/*border:solid 3px black;*/
	/*position: absolute;*/
	margin-left:270px;
	display: inline-block;
}
#go4 .goFour-Center .goFour-CenterLc,#go4 .goFour-Center .goFour-CenterRc,#go4 .goFour-Center .goFour-CenterRight{
	margin-left:60px;
}
#go4 .goFour-Center p{
	font-size:20px;
	color:#2a2a2a;
	margin-left:15px;
	margin-top:40px;
	width:180px;
	height:50px;
	text-align: center;
	border-bottom:solid 2px #a4ddf9;
}
#go4 #goOne .goFour-Center a{
	text-decoration: none;

}
#go2 #goOne .goTwo-center .shade{
	border-radius:15px;
	background-color:white;
	/*border-right:solid 3px #05c1f1;*/
	border-left:solid 3px #05c1f1;
	box-shadow: 5px 5px 10px #d7d7d7,-5px -5px 15px rgba(215,215,215,0.5);}
/*轮播图*/
#newMain #newEnd{
	width:100%;
	position:relative;
	height:160px;
	/*display: inline-block;*/
	min-width: 1200px;
	/*border:solid 1px red;*/
	margin-bottom:0px;

}
#newMain #newEnd img{
	position:absolute;
	width:100%;
	min-width:1200px;
	height:100%;

}
 #sign{
	display:inline-block;
	float:right;
	margin-right:150px;
	 margin-top:29px;

}
#go2 #goOne .goTwo-center .newCenterOne{
	font-size:20px;
	text-indent: 2em;
}
 #sign a{
	font-size:20px;
	text-decoration: none;
}
 #sign a:hover{
	text-decoration: none;
}
#person-img{
	width:200px;
	height:70px;
	float:right;
	margin-right:130px;
    margin-top:14px;

}
#person-img img{
	width:60px;
	height:60px;

}
#person-img #zx{
	font-size:20px;
	position: relative;
	left:30px;
	top:-20px;
}
#person-img a:hover{
	text-decoration: none;
}
/*下面是课程教育*/
#newMain #go4 #addCourse{
	width:1200px;
	height:500px;
	position:absolute;
	z-index:20;
	background:white;
	/*border:solid 1px #d7d7d7;*/
	left:400px;
	top:-20px;
	display: none;
}
#newMain #go4 #addCourse #addCourseLeft,#newMain #go4 #addCourse #addCourseRight{
	width:400px;
	height:350px;
	display:inline-block;
	left:130px;
	position: absolute;
	top:0px;
}
#newMain #go4 #addCourse #addCourseRight{
	left:450px;
	width:500px;
	margin-left:100px;
	font-size:18px;
}
#newMain #go4 #addCourse #addCourseLeft #addCourseLeft-title,#newMain #go4 #addCourse #addCourseRight #addCourseRight-title{
	font-size:20px;
	display: inline-block;
	position: absolute;
	top:70px;
}
#newMain #go4 #addCourse #addCourseLeft img{
	position: absolute;
	top:120px;
	box-shadow: 3px 3px 10px #CCCCCC;
	border-radius: 5px;
}
#newMain #go4 #addCourse #addCourseRight #addCourseRight-content{
	position: absolute;
	top:120px;
	border-bottom:solid 1px #ccc;
	padding-bottom: 20px;
}
#newMain #go4 #addCourse #addCourseRight button{
	position: absolute;
	top:280px;
}
#newMain #go4 #addCourse #addCourseRight #two{
	left:150px;
}
#newMain #go4 #addCourse #addCourseRight img{
	position: absolute;
	top:210px;
}
#newMain #go4 #addCourse #addCourseRight #price{
	position: absolute;
	top:215px;
	font-size:27px;
	color:#fd9a26;
	left:60px;
}
#newMain #go4 #addCourse #error{
	position: absolute;
	right:10px;
	font-size:15px;
}
#newMain #go4 #addCourse #error:hover{
	cursor: pointer;
}
#addCourse #buySuccess{
	width:400px;
	height:200px;
	border:solid 1px #d7d7d7;
	border-radius: 15px;
	position: absolute;
	color:green;
	background:white;
	padding:70px 77px;
	display:none;
	left:400px;
	top:150px;
}
#buySuccess #buyerror{
	position: absolute;
	right:10px;
	top:0px;
	font-size:15px;
}
#buySuccess #buyerror:hover{
	cursor: pointer;
}
/*下面是课程教育*/
#newMain #go4 #addCourse{
	width:1200px;
	height:500px;
	position:absolute;
	z-index:20;
	background:white;
	/*border:solid 1px #d7d7d7;*/
	left:400px;
	top:-20px;
	display: none;
}
#newMain #go4 #addCourse #addCourseLeft,#newMain #go4 #addCourse #addCourseRight{
	width:400px;
	height:350px;
	display:inline-block;
	left:130px;
	position: absolute;
	top:0px;
}
#newMain #go4 #addCourse #addCourseRight{
	left:450px;
	width:500px;
	margin-left:100px;
	font-size:18px;
}
#newMain #go4 #addCourse #addCourseLeft #addCourseLeft-title,#newMain #go4 #addCourse #addCourseRight #addCourseRight-title{
	font-size:20px;
	display: inline-block;
	position: absolute;
	top:70px;
}
#newMain #go4 #addCourse #addCourseLeft img{
	position: absolute;
	top:120px;
	box-shadow: 3px 3px 10px #CCCCCC;
	border-radius: 5px;
}
#newMain #go4 #addCourse #addCourseRight #addCourseRight-content{
	position: absolute;
	top:120px;
	border-bottom:solid 1px #ccc;
	padding-bottom: 20px;
}
#newMain #go4 #addCourse #addCourseRight button{
	position: absolute;
	top:280px;
}
#newMain #go4 #addCourse #addCourseRight #two{
	left:150px;
}
#newMain #go4 #addCourse #addCourseRight img{
	position: absolute;
	top:210px;
}
#newMain #go4 #addCourse #addCourseRight #price{
	position: absolute;
	top:215px;
	font-size:27px;
	color:#fd9a26;
	left:60px;
}
#newMain #go4 #addCourse #error{
	position: absolute;
	right:10px;
	font-size:15px;
}
#newMain #go4 #addCourse #error:hover{
	cursor: pointer;
}
#addCourse #buySuccess{
	width:400px;
	height:200px;
	border:solid 1px #d7d7d7;
	border-radius: 15px;
	position: absolute;
	color:green;
	background:white;
	padding:70px 77px;
	display:none;
	left:400px;
	top:150px;
}
#buySuccess #buyerror{
	position: absolute;
	right:10px;
	top:0px;
	font-size:15px;
}
#buySuccess #buyerror:hover{
	cursor: pointer;
}
 #go3 #goOne .goThree-Center #title1,#go3 #goOne .goThree-Center #title2,#go3 #goOne .goThree-Center #title3,#go3 #goOne .goThree-Center #title4,#go3 #goOne .goThree-Center #title5{
	position: absolute;
	top:40px;
	/*display:none;*/
	left:50px;
}