@font-face{
	font-family:webFont;
	src:url('/fonts/DongQingHeiTi-1.otf')
}
#recommendSeven{
	width:1100px;
	height:4850px;
    border:solid 1px #ccc;
	position:relative;
	left:50%;
	margin-left:-550px;
	
}
#recommendSeven-head{
	width:1100px;
	height:50px;
	border-bottom: 1px red solid;
	padding-top:5px;
}
#recommendSeven-head p{
	font-size:23px;
	margin-left:320px;
	font-weight: bold;

}
#recommendSeven-main{
	width:900px;
	height:800px;
	/*border:solid 1px black;*/
	margin-left:100px;
}
#recommendSeven-main p{
	text-indent: 2em;
	font-size:18px;
	font-family:webFont;
}
#recommendSeven-main img{
	margin-left:0px;
}
#recommendSeven-evaluate{
	width:800px;
	height:400px;
	/*border:solid 1px red;*/
	margin-left:-50px;
}
