#recommendFive{
	width:1100px;
	height:2830px;
    border:solid 1px #ccc;
	position:relative;
	left:50%;
	top:50%;
	margin-left:-550px;
	
}
#recommendFive-head{
	width:1100px;
	height:50px;
	border-bottom: 1px red solid;
	padding-top:5px;
}
#recommendFive-head p{
	font-size:23px;
	margin-left:330px;
	font-weight: bold;

}
#recommendFive-main{
	width:900px;
	height:800px;
	/*border:solid 1px black;*/
	margin-left:100px;
}
#recommendFive-main img{
	margin-left:0px;
}
#recommendFive-evaluate{
	width:800px;
	height:400px;
	border:solid 1px red;
}
