@font-face{
	font-family:webFont;
	src:url('/fonts/DongQingHeiTi-1.otf')
}
#recommendTwo{
	width:1100px;
<<<<<<< HEAD
	height:2970px;
=======
	height:2470px;
>>>>>>> 549995a37d5b9ea4ff4c16a174e5dfb8efa263dd
    border:solid 1px #ccc;
	position:relative;
	left:50%;
	margin-left:-550px;
	
}
#recommendTwo-head{
	width:1100px;
	height:50px;
	border-bottom: 1px red solid;
	padding-top:5px;
}
#recommendTwo-head p{
	font-size:23px;
	margin-left:350px;
	font-weight: bold;

}
#recommendTwo-main{
	width:900px;
	height:800px;
	/*border:solid 1px black;*/
	margin-left:100px;
}
#recommendTwo-main p{
	margin-top:20px;
}
#recommendTwo-main p{
	font-size:18px;
	font-family:webFont;
}
#recommendTwo-evaluate{
	width:800px;
	height:400px;
	/*border:solid 1px red;*/
   margin-left:-50px;
}
