body{
	padding: 0;
	margin: 0;
	
}
.header{
	width: 100%;
	height: 163px;
	/*border-bottom: 2px solid red;*/
	min-width:1115px ;
}
.header-content{
	width:1115px;
	height: 163px;
	background:url(../img/navPic.png) no-repeat;
	margin: auto;
	position: relative;
	}
.logo{
	width: 196px;
	height: 84px;
	float: left;
	margin: 50px 0 0 80px ;
}
.search{
	position: absolute;
	top: 70px;
	left: 295px;
	width: 450px;
	height: 45px;
	line-height: 45px;

}
.search-text{
	width: 300px;
	height: 43px;
	font-size: 16px;
	color: #FFFFFF;
	outline: none;
	box-shadow: 5px 5px 5px black;
	border: 2px solid red;
	margin-left: 85px;
	background: transparent;
	border-radius:20px;
				
}
.search button{
	width: 48px;
	height: 48px;
	border: none;
	outline: none;
	text-align: center;
	line-height: 40px;
	border-radius:40px;
	position: absolute;
	left:320px;
	top: 8px;
	/*box-shadow: 5px 5px 5px black;*/
	background: transparent;
}
.icon-search{
	color: red;
	font-size: 30px;
}
/*搜索的具体部分*/
#searchMain{
	width:1110px;
	height:800px;
	margin:0 auto;
	border:solid 1px #F2DEDE;
	position: relative;
}
#searchMain-body{
	width:900px;
	height:600px;
	/*border:solid 1px red;*/
	position: absolute;
	left:105px;
	top:30px;
}
#searchMain-body ul{
	margin-left:300px;
	font-size:18px;
	margin-top:10px;
	border:none;
}
#searchMain-body ul li{
	
}
.tab-content{
	border-top:1px solid #dddddd
}
#tab-content--E,#tab-content--F{
	width:800px;
	height:600px;
	margin-left:40px;
	/*border:solid 1px black;*/
	margin-top:30px;
}
#tab-content--E p,#tab-content--F p{
	font-size:28px;
	width:800px;
	height:50px;
	margin-top:30px;
	border-bottom:1px solid #dddddd;
}
/*#tab-content--E hr{
	width:800px;
	height:1px;
	border-top:1px solid #dddddd;

}*/
#paging{
	position:absolute;
	left:-120px;
	bottom:-80px;
}
